<h1>Prime Number Calculator!</h1>
<form action="/show">
  <div class="form-group">
     <label for="number">Enter your amount
</label>
     <input id="number" name="number" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Show</button>
</form>
