<h1>Heading</h1>
<form action="/show">
  <div class="form-group">
     <label for="same">Whatever
</label>
     <input id="same" name="same" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Show</button>
</form>
