<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <!-- <link rel='stylesheet' href='css/styles.css' type='text/css'> -->
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Heading</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
